<%# ＜サイドバー＞ %>
<div class="side-bar">
  <div class="side-header">
    <div class="user-name">
      <%= link_to 'satoshion', root_path %>
    </div>
    <div class="chat-create-btn">
      <%= link_to 'チャットを作成する', root_path %>
    </div>
  </div>

  <div class="side-main">
    <div class="room-lists">
      <%= link_to 'techroom1', root_path %>
    </div>
    <div class="room-lists">
      <%= link_to 'techroom2', root_path %>
    </div>
  </div>
</div>